<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>501479117464-qcv1i2n9e887nmts8skti36t65prfgjl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.501479117464-qcv1i2n9e887nmts8skti36t65prfgjl</string>
	<key>API_KEY</key>
	<string>AIzaSyCzu0cNR_llENOIpgmY6v8MI5srLx-MRiI</string>
	<key>GCM_SENDER_ID</key>
	<string>501479117464</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alluroso.navigation</string>
	<key>PROJECT_ID</key>
	<string>navigation-2b362</string>
	<key>STORAGE_BUCKET</key>
	<string>navigation-2b362.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:501479117464:ios:56206f633d4203897a76ed</string>
</dict>
</plist>